@import '../../../assets/scss/variables.scss';

::ng-deep {
	.spacer {
		flex: 1 1 auto;
	}
	.big .mat-toolbar-row, .mat-toolbar-single-row {
		height: 200px!important;

		img {
			height: 200px;
		}

		.link-container {
			position: relative;
			.link {
				font-family: 'Roboto';
				text-transform: uppercase;
				cursor: pointer;
	
				// &:hover{
				// 	color: $Green1;
	
				// 	+ .grass-container {
				// 		display: block;
				// 	}
				// }

				&::after {
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background: #000;
					transition: width .3s;
				}
				
				&:hover::after {
					width: 100%;
					//transition: width .3s;
				}

				&.active {
					color: $Green1;
				}
			}
	
			.grass-container {
				display: none;
			}
		}
	}
}