@import '../../../assets/scss/variables.scss';

main {
	margin: 0 auto 50px;

	.Google-Maps-Container {
		height: 50vh;
		@include Horizontal-Center;
		border-radius: 6.25px;
	}
}


.col {
	@media only screen and (max-width: 900px) {
		flex: 0 0 100%;
		&:first-child {
			margin-bottom: 15px;
		}
		&.no-margin {
			margin-bottom: 0;
		}
	}
}