<main class="container">
    <h3>Кръговата икономика: какво представлява тя и защо е важна</h3>
    <p class="margin-top-big">Кръговата икономика е модел на производство и потребление, ограничаващ до <b>минимум</b> отпадъците. Той носи ползи за околната среда, икономиката и всички нас.</p>
    <video width="100%" height="100%" controls>
        <source src="/assets/Repair,_re-use_and_recycle!_Bulgarian_(EuroparlTV_HD_4000_BG).mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>      
    <h4 class="margin-top-big">Какво представлява кръговата икономика?</h4>
    <p class="margin-top-big">Кръговата икономика е модел, насочен към удължаване на жизнения цикъл на продуктите. На практика това означава възможно най-дълго споделяне, заемане, повторно използване, поправка и рециклиране на съществуващи материали и продукти.</p>
    <p class="margin-top-big">Когато един продукт достигне края на живота си, материалите, от които той е съставен, продължават да се ползват по друг начин. Това се прави отново и отново и така се намалява до минимум изхвърлянето на отпадъци.</p>
    <p class="margin-top-big">Концепцията за кръгова икономика се изгражда в противовес на традиционния линеен модел, при който се използват суровини, създават се неща от тях, те се консумират и остатъците се изхвърлят. Този модел разчита на големи количества евтини и достъпни материали и източници на енергия.</p>
    <p class="margin-top-big">Част от традиционния модел е и вграждането на дефекти в уредите, за да спрат те да работят на определена дата или след определен брой цикли и потребителите да бъдат принудени да си купят нови. Европейският парламент приканва за мерки срещу тази практика.</p>
    <div class="image-container">
        <img src="/assets/images/circular_economy_bg.svg" />
    </div>
    <h4 class="margin-top-big">Защо е необходимо да преминем към кръгова икономика?</h4>
    <p class="margin-top-big">Търсенето на суровини и енергийни ресурси расте, но много от тях са ограничени по количество. Често те не достигат в рамките на ЕС и европейските страни стават зависими от внос от други държави.</p>
    <p class="margin-top-big">Не трябва да се подценява и ефектът върху околната среда - добивът и потреблението на суровини увеличава консумацията на енергия и емисиите на парникови газове. По-разумното използване на суровини може да помогне в борбата срещу промените в климата.</p>
    <h4 class="margin-top-big">Какви са ползите?</h4>
    <p class="margin-top-big">Предотвратяването на генерирането на отпадъци, екопроектирането, повторната употреба и други подобни мерки могат да доведат до нетни икономии за предприятията в ЕС в размер на 600 милиарда евро или 8 % от годишния им оборот, като в същото време намалят общите годишни емисии на парникови газове с от 2 до 4 %.</p>
    <p class="margin-top-big">Преходът към кръгова икономика ще намали екологичното замърсяване, ще облекчи проблемите с набавянето на суровини, ще засили иновациите и конкурентоспособността. Потребителите ще получат достъп до по-устойчиви и икономични продукти.</p>
</main>